
.css-6x44c9[data-disabled] {
    opacity: 0.9!important;
}

.css-14iyyou[data-disabled] {
    opacity: 0.9!important;
}

.printme { display: none; }

@media print { 
    .no-printme  { display: none; }
    .printme  { display: block; }
}