services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - quiz-maker-network       

  server:
    container_name: quiz-maker_server
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:  
      - "4000:4000"
    networks:
      - quiz-maker-network
    depends_on:
      - mongodb
    environment:
      - DATABASE=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/${MONGO_INITDB_DATABASE}?authSource=admin
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    container_name: quiz-maker_client
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    env_file:
      - ./client/.env
    depends_on:
      - server
    networks:
      - quiz-maker-network

volumes:
  mongodb_data:

networks:
  quiz-maker-network: